/*  */
/* Général */
/*  */

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: justify;
}

p{
    color:gray;
    font-size: 0.8rem;
    padding: 0 2rem 2rem 0; 
}

header{
    color: gray;
    border-bottom: 1px solid gray;
}

.image h1{
    font-size: 1rem;
    text-align: right;
    margin: 0;
}

.image{
    width: 200px;
    margin: 3rem auto; 
}

main{
    margin-left: 10rem;
    margin-right: 10rem;
    line-height: 1.7rem;
}

h3{
    font-size: 0.9rem;
    text-align: center;
}

h2{
    padding: 1rem;
    margin-left: -1rem;
}


/*  */
/* couleurs texte */
/*  */

.cyan{
    background-color: cyan;
}

.mangenta{
    background-color: magenta;
}

.jaune{
    background-color: yellow;
}

.noir{
    color: white;
    background-color: black;
}

/*  */
/* carrés de la mort */
/*  */

.vingt{
    padding: 2rem;
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    background-color: #0f4c82 ;
    color: white;
    font-size: 3.5rem;
    font-weight: 800;
    width: 80%;
    height: 7rem;
}

.dixneuf{
    padding: 2rem;
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    color:white;
    background-color: #fe6f61;
    font-size: 3.5rem;
    font-weight: 800;
    width: 80%;
    height: 7rem;
}

.dixhuit{
    padding: 2rem;
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    color:white;
    background-color: #604b8c;
    font-size: 3.5rem;
    font-weight: 800;
    width: 80%;
    height: 7rem;   
}

.dixsept{
    padding: 2rem;
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    color:white;
    background-color:#88b14b;
    font-size: 3.5rem;
    font-weight: 800;
    width: 80%;
    height: 7rem; 
}

.seize{
    display: flex;
    padding: 2rem;
    align-items:flex-end;
    justify-content: flex-end;
    color:white;
    background: linear-gradient(90deg,#93a9d2  50%, #f6cac9  50%);
    font-size: 3.5rem;
    font-weight: 800;
    width: 80%;
    height: 7rem;   
}

.block{
    width: 28rem;
    border:1px solid none;
}
/* pas de height pour que la taille du block puisse s'adapter */

.conteneur{
    display: flex;
    flex-wrap: wrap;
}



